{% extends 'blog/base.html' %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <p>{{ post.publish }} by {{ post.author }}</p>
    <p>{{ post.body | linebreaks }}</p>

    {% with comments.count as total_comments %}
        <h2>{{ total_comments }} comment{{ total_comments | pluralize }}</h2>
    {% endwith %}

    <div class="ui divider"></div>

    <!-- Similar posts -->
    {% for post in similar_posts %}
        <p>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </p>
    {% empty %}
        <p>There are no similar posts.</p>
    {% endfor %}
    <div class="ui divider"></div>


{#    {% for comment in comments %}#}
{#        <h3>comment {{ forloop.counter }} by {{ comment.name }} at {{ comment.created }}</h3>#}
{#        <p>{{ comment.body }}</p>#}
{#    {% endfor %}#}
    <!-- Comments -->
    <div class="ui comments">
    {% for comment in comments %}
        <div class="comment">
            <div class="content">
                <div class="author"> {{ comment.name }}</div>
                <div class="metadata">
                    <div class="date">Comment {{ forloop.counter }} - {{ comment.created }}</div>
                </div>
                <div class="text">
                    {{ comment.body }}
                </div>
            </div>
        </div>
    {% endfor %}

    </div>

    <!-- Comment form -->
    <form class="ui form" method="POST">{% csrf_token %}
        {{ form.as_p }}
        <button class="ui button" type="submit">Submit</button>
    </form>

{% endblock %}